services:
  my-trace-table:
    container_name: container-my-trace-table
    build:
      context: .
    restart: always
    ports:
      - "9999:80"
    networks:
      - trace-network
    env_file:
      - .env

networks:
  trace-network:
    name: trace-network
    driver: bridge
    external: true