services:
  my-trace-table:
    container_name: container-my-trace-table
    build:
      context: .
    restart: always
    ports:
      - "9999:80"
    networks:
      - tracetable-network
    env_file:
      - .env

networks:
  tracetable-network:
    name: tracetable-network
    external: true