.navigate-btn {
    color: var(--primary-white);
    font-size: 2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.navigate-btn:hover {
    transform: scale(1.1);
    color: var(--primary-white);
}

@media (max-width: 780px) {
    .navigate-btn {
      font-size: 1.6rem;
    }
}