.secondary-header {
    width: 100%;
    background-color: var(--primary-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.secondary-header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondary-header h2 {
    font-size: 1.3rem;
    color: var(--primary-white);
    margin-left: 80px;
}

.secondary-header .right {
    color: var(--primary-white);
    text-align: center;
    width: 100px;
    white-space: pre-line;
    font-size: 0.9rem;
}

@media (max-width: 780px) {
    .secondary-header {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .secondary-header .left {
        position: absolute;
        left: 10px;
    }

    .secondary-header h2 {
        margin: 0 auto;
        font-size: 1.2rem;
        text-align: center;
    }

    .secondary-header .right {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
    }
}

@media (max-width: 550px) {
    .secondary-header h2 {
        font-size: 1rem;
    }

    .secondary-header .right {
        font-size: 0.85rem;
    }
}

@media (max-width: 400px) {
    .secondary-header h2 {
        font-size: 0.9rem;
    }

    .secondary-header .right {
        font-size: 0.75rem;
    }
}