.secondary-header {
    width: 100%;
    background-color: var(--primary-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: absolute;
    top: 0;
}

.secondary-header .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.secondary-header h2 {
    font-size: 1.3rem;
    color: var(--primary-white);
    margin-left: 80px;
}

.secondary-header .right {
    color: var(--primary-white);
    text-align: center;
    width: 100px;
    word-break: break-word;
    white-space: pre-line;
    font-size: 0.9rem;
}

@media (max-width: 780px) {
    .secondary-header h2 {
        margin-top: 1em;
        font-size: 1.5em;
    }
}

@media (max-width: 550px) {
    .secondary-header h2 {
        width: 90%;
        font-size: 1.2em;
    }
}