html,
body {
  height: 100%;
  overflow-y: auto;
  background-color: var(--primary-blue);
}

.background-trace {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
  padding: 20px;
}

.trace-table-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.trace-table {
  width: 100%;
  animation: fadeIn 0.8s ease-in-out;
  overflow: auto;
}

.disabled-cell {
  background-color: var(--primary-green);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.exercise-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  cursor: zoom-in;
}

.image-container {
  width: auto;
  max-width: 90%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 3em;
  flex-direction: column;
  background-color: var(--primary-white);
  padding: 55px 30px;
  font-weight: 100;
  border-radius: 10px;
  animation: fadeIn 0.8s ease-in-out;
}


table {
  width: 100%;
  min-height: 350px;
  height: auto;
  border-spacing: 4px;
  font-family: "Arial", sans-serif;
  text-align: center;
  overflow-y: auto;
}

thead {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

th,
td {
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: var(--primary-green);
  border-radius: 10px;
}

th {
  padding: 0px 8px;
}

td:first-child {
  font-weight: bold;
  color: white;
  font-size: 1.3em;
}

input {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid white;
  text-align: center;
  transition: 0.3s;
  font-size: 1.3em;
  font-weight: bold;
}

input.error {
  border-color: red;
  background-color: #fbcbcb;
  animation: shake 0.5s ease-in-out;
}

input.success {
  border-color: green;
  background-color: #d0fcd0;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  gap: 2em;
}

.arrow-btn {
  font-size: 40px;
  margin-top: .5em;
  color: #07433c;
  cursor: pointer;
  transition: 0.3s ease;
}

.arrow-btn:hover {
  color: #218838;
}

.arrow-btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.btn-container button {
  margin-top: 20px;
  background-color: #07433c;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 100;
}

.btn-container button:hover {
  background-color: #218838;
}

.btn-container button svg {
  font-size: 1.1em;
}

.success {
  color: green;
  font-weight: bold;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media(max-width: 1000px) {
  .trace-table-container {
    width: 100%;
    flex-direction: column;
  }

  table {
    border-spacing: 2px;
  }
}

@media(max-width: 550px) {
  .image-container {
    min-width: 90%;
  }

  th {
    font-size: .9em;
  }

  .btn-container {
    gap: .5em;
  }

  .btn-container button {
    font-size: 1.1em;
    padding: 10px 20px;
  }
}