.container-select-code {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.select-code-content {
    background: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    position: relative;
}

.close-button {
    width: 100%;
    text-align: end;
    background: transparent;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    margin-bottom: .5em;
}

.close-button:hover {
    color: #ff0000;
}

.select-code-content h2 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}

.select-code-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.insert-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.insert-button:hover {
    background: #0056b3;
}