.feedback-box {
  width: 250px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translateX(-50%);
  background-color: var(--primary-white);
  border: 2px solid var(--secondary-blue);
  border-top-width: 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideDown 10s ease-in-out forwards;
  text-align: center;
  z-index: 5;
}

@keyframes slideDown {
  0% {
    top: -50px;
    opacity: 0;
  }
  20% {
    top: 20px;
    opacity: 1;
  }
  80% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: -50px;
    opacity: 0;
  }
}

.green,
.yellow,
.red {
  font-weight: bold;
}

.green {
  color: #1e8000;
}

.yellow {
  color: #ca9c03;
}

.red {
  color: #bd0000;
}

.feedback-box p {
  font-size: 1.1em;
}

@media (max-width: 550px) {
  .feedback-box {
    top: 0;
    left: 50%;
  }
}
