.header {
    width: 100%;
    background: linear-gradient(80deg,#66CEA4, #3DCFBC);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.header svg {
    position: absolute;
    top: auto;
    left: 50px;
    font-size: 40px;
    cursor: pointer;
    color: #07433C;
    transition: all .2s ease-in-out;
}

.header svg:hover {
    color: #f4eded;
}

.header h1 {
    color: #07433C;
    cursor: pointer;
}

.header img {
    width: 90px;
    height: 90px;
    position: absolute;
    top: auto;
    right: 50px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: inset 0px 0px  10px #3DCFBC;
    cursor: pointer;
}