.info-box {
    position: absolute;
    top: 0px;
    right: 20px;
    color: var(--primary-white);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.info-box h2,
p {
    max-width: 100%;
    word-wrap: break-word;
    font-weight: bold;
    font-size: 1rem;
}